@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 22 100% 50%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 32 100% 98%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 0 0% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 18px;
	}

	body {
		@apply font-nunito text-sm leading-5 font-normal;
	}

	a,
	button {
		@apply outline-none;
	}

	h1 {
		@apply text-[48px];
	}

	h2 {
		@apply text-[40px];
	}

	h3 {
		@apply text-[32px];
	}

	h4 {
		@apply text-[22px];
	}

	h5 {
		@apply text-[16px];
	}
}

@layer components {
	.container {
		@apply w-full max-w-base px-5 mx-auto;
	}
}
