@import 'tailwindcss';

@theme {
	--font-nunito: Nunito, serif;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--container-base: 1240px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility container {
	@apply w-full max-w-base px-5 mx-auto font-(--font-nunito);
}

@layer base {
	:root {
		--foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 22 100% 50%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 32 100% 98%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 0 0% 90%;
		--ring: 24.6 95% 53.1%;
		--radius: 18px;
	}

	html,
	body {
		@apply font-nunito text-sm leading-5 font-normal scroll-smooth selection:bg-primary selection:text-white;
	}

	a,
	button {
		@apply outline-hidden;
	}

	h1 {
		@apply text-[48px] leading-10;
	}

	h2 {
		@apply text-[40px] leading-9;
	}

	h3 {
		@apply text-[32px] leading-8;
	}

	h4 {
		@apply text-[22px] leading-5;
	}

	h5 {
		@apply text-[16px] leading-4;
	}
}
